.planets-page {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.planet-card {
  background: var(--card-bg);
  border-radius: var(--border-radius);
  padding: 1rem;
  width: 250px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.planet-img {
  width: 100%;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: transform 0.2s;
}

.planet-img:hover {
  transform: scale(1.03);
}

.spacecrafts-on-planet img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: 0.2s;
}

.spacecrafts-on-planet img.selected {
  border: 3px solid var(--primary-color);
}
